/*NavigationBar-Style*/
body.loading .nav-slide-appear-bottom-1,
body.loading .nav-slide-appear-top-2,
body.loading .nav-slide-appear-bottom-3,
body.loading .nav-slide-appear-top-4,
body.loading .nav-slide-appear-bottom-5,
body.loading .nav-slide-appear-top-6,
body.loading .nav-slide-appear-left,
body.loading .nav-slide-appear-right,
body.loading .nav-slide-appear-top,
body.loading .nav-slide-appear-bottom,
body.loading .nav-slide-appear-left-0 {
    opacity: 0;
    position: relative;
}

.delimeter-style {
    width: 75%;
    height: 1px;
    background: white;
}

.nav-slide-appear-left {
    animation: animSlideLeft 0.6s ease-in, animAppear 1s ease-in forwards;
}

.nav-slide-appear-right {
    animation: animSlideRight 0.6s ease-in, animAppear 1s ease-in forwards;
}

.nav-slide-appear-top {
    animation: animSlideTop 0.6s ease-in, animAppear 1s ease-in forwards;
}

.nav-slide-appear-bottom {
    animation: animSlideBottom 0.6s ease-in, animAppear 1s ease-in forwards;
}

body.loading .nav-slide-appear-left-0 {
    animation: animSlideLeft 0.2s ease-in 0.6s forwards, animAppear 0.6s ease-in 0.6s forwards;
}

body.loading .nav-slide-appear-bottom-1 {
    animation: animSlideBottom 0.2s ease-in 0.6s forwards, animAppear 0.6s ease-in 0.6s forwards;
}

body.loading .nav-slide-appear-top-2 {
    animation: animSlideTop 0.2s ease-in 0.8s forwards, animAppear 0.6s ease-in 0.8s forwards;
}

body.loading .nav-slide-appear-bottom-3 {
    animation: animSlideBottom 0.2s ease-in 1s forwards, animAppear 0.6s ease-in 1s forwards;
}

body.loading .nav-slide-appear-top-4 {
    animation: animSlideTop 0.2s ease-in 1.2s forwards, animAppear 0.6s ease-in 1.2s forwards;
}

body.loading .nav-slide-appear-bottom-5 {
    animation: animSlideBottom 0.2s ease-in 1.4s forwards, animAppear 0.6s ease-in 1.4s forwards;
}

body.loading .nav-slide-appear-top-6 {
    animation: animSlideTop 0.2s ease-in 1.6s forwards, animAppear 0.6s ease-in 1.6s forwards;
}

.nav-link {
    font-family: 'Comic Sans MS';
}

.navbar-toggler {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

    .navbar-toggler:focus, .navbar-toggler:active {
        border-color: white;
        box-shadow: none;
    }

.nav-hover {
    transition: 0.6s !important;
    color: #FFFFFF !important;
}

    .nav-hover:hover {
        color: blueviolet !important;
        cursor: pointer;
    }

.zoom-in-out-element {
    transition: transform 0.6s ease;
}

    .zoom-in-out-element:hover {
        transform: scale(1.1);
    }

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
}

#navigationBar {
    padding: 8px;
}

html {
    overflow: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #222;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/*HeroSection*/
.sectionHero {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../../media/images/heroBackground.jpg") top center;
    background-size: cover;
    z-index: -1;
}

/*About Section*/
.sectionAbout {
    content: "";
    width: auto;
    height: auto;
    position: relative;
    background: url("../../media/images/aboutBackground.jpg") top center;
    background-size: cover;
    min-height: 950px;
    z-index: 1;
}

/*Education Section*/
.sectionEducation {
    content: "";
    width: auto;
    height: auto;
    left: -5px;
    position: relative;
    background: url("../../media/images/educationBackground.jpg");
    background-size: cover;
    min-height: 950px;
    z-index: 0;
}

#myTab2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#item1,
#item2,
#item3,
#item4 {
    flex: 1;
    text-align: center;
}

#first-tab,
#second-tab,
#third-tab,
#fourth-tab {
    display: block;
    width: 100%;
}

/*Projects Section*/
.sectionProjects {
    content: "";
    width: auto;
    height: auto;
    position: relative;
    background: url("../../media/images/projectsBackground.jpg") top center;
    background-size: cover;
    min-height: 950px;
    z-index: 0;
}

/*Experience Section*/
.sectionExperience {
    content: "";
    width: auto;
    height: auto;
    position: relative;
    background: url("../../media/images/experienceBackground.jpg") top center;
    background-size: cover;
    min-height: 950px;
    z-index: -1;
}

/*MyFocus Section*/
.sectionMyFocus {
    content: "";
    width: auto;
    height: auto;
    position: relative;
    background: url("../../media/images/myfocusBackground.jpg") top center;
    background-size: cover;
    min-height: 950px;
    z-index: 0;
}

/*Contact Section*/
.sectionContact {
    content: "";
    width: auto;
    height: auto;
    position: relative;
    background: url("../../media/images/contactBackground.jpg") top center;
    background-size: cover;
    min-height: 950px;
    z-index: -1;
}

/*TEXT-STYLES*/
/*Gradient-Style*/
.gradient-text {
    background: linear-gradient(white, gray) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

.dark-gradient-text {
    background: linear-gradient(black, gray) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

.light-gradient-text {
    background: linear-gradient(white, gray) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

.title-text {
    font-family: SpaceGrotesk-Medium;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.description-text {
    font-family: SpaceGrotesk-Light;
    color: #fff;
    line-height: 1.2;
    font-weight: 500;
    font-size: 64px;
}

/*Basic-Animations-Helpers*/
.animation-appear {
    opacity: 0;
    overflow: hidden;
    animation: animAppear 1s ease-out 0.4s forwards;
}

.animation-slide-left {
    position: relative;
    animation: animSlideLeft 0.4s ease-in forwards;
}

.animation-slide-right {
    position: relative;
    animation: animSlideRight 0.4s ease-in forwards;
}

.animation-slide-top {
    position: relative;
    animation: animSlideTop 0.4s ease-in forwards;
}

.animation-slide-bottom {
    position: relative;
    animation: animSlideBottom 0.4s ease-in forwards;
}

.spacer {
    height: 500px;
}

.relative {
    position: relative !important;
}

@keyframes animAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animSlideLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animSlideRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animSlideBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes animSlideTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}